body{
    padding: 0;
    margin: 0;
    margin-top: 20px;
   box-sizing: border-box;
   background-color: #ffd5cd;
   
};
.quote{
    padding-left: 20%;
}
.quoteText{
    color: black;
    border-style: solid;
    background-color: coral;
    height: relative;
    width: relative;
    text-align: center;
}

.container{
  text-align: center;
}

